<%- include("components/header.ejs")  %> 
    <div style="height : 100vh;width:100vw;display:flex;flex-direction:column;justify-content:center;align-items:center;">
        <p style="font-size: 41px;">Home</p>
        <a class="btn btn-secondary" href="http://localhost:4000/qcm/">Reesayer</a>
    </div>
<%- include("components/footer.ejs") %> 