<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include("files/first_import") %> 
    <meta name="theme-color" content="#764ABC"/>
    <style>
        *{
            padding : 0;
            margin : 0;
            font-family: 'Raleway', sans-serif;
        }
    </style>
</head>
<body class="container-fluid h-100">
    