<%- include("components/header.ejs")  %> 
    <div style="height : 100vh;width:100vw;display:flex;flex-direction:column;justify-content:center;align-items:center;">
        <p style="font-size: 61px;">404 ERROR<sub style="font-size: 30px">Page not founds !.</sub></p>
    </div>
<%- include("components/footer.ejs") %> 