<%- include("components/header.ejs")  %> 
    <div class="center-element">
        <p class="text-5xl">404 ERROR<sub class="ml-6 text-xl">Page not founds !</sub></p>
    </div>
<%- include("components/footer.ejs") %> 