<%- include("components/header.ejs")  %> 
    <%- include("components/files/service-worker.ejs") %>
    <div class="center-screen">
        <p style="font-size: 71px;">Home</p>
        <!-- Test -->
    </div>
<%- include("components/footer.ejs") %> 