<%- include("components/header.ejs")  %> 
    <%- include("components/files/service-worker.ejs") %>
    <div class="">
        <p class="text-6xl" >Home</p>
        <!-- Test -->
    </div>
<%- include("components/footer.ejs") %> 