<%- include("components/header.ejs")  %> 
    <%- include("components/files/service-worker.ejs") %>
    <div class="center-element">
        <p class="text-6xl text-center" >Home</p>
        <!-- Test -->
    </div>
<%- include("components/footer.ejs") %> 