<%- include("components/header")  %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <div class="center-element">
        <p class="text-primary" style="font-size: 51px;">Hors Ligne</p>
        <Button style="font-size: 18px;border-radius: 31px;" class="btn btn-primary px-4 py-3 d-flex align-items-center text-xl"><span class="material-symbols-outlined px-1">restart_alt</span>Reésayer</Button>
        <!-- Test -->
    </div>
<%- include("components/footer")   %> 